{% extends 'layout.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load content_tags %}

{% block breadcrumbs %}
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="breadcrumb roof-breadcrumb">
                <li>
                    <a href="/">Inicio</a>
                </li>
                {% for category in category.get_ancestors %}
                    <li>
                        <a href="/categorias/{{ category.my_get_path }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
                <li><a href="/categorias/{{ category.my_get_path }}">{{ category.name }}</a></li>
                <li class="active">{{ object.title }}</li>
            </ul>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="detail">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        {% if object.videoad %}
                            <div class="videoad">
                                <iframe class="embed-responsive" src="{{ object.videoad.video_url }}" frameborder="0"
                                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        {% elif object.bannerad %}
                            <div class="detail__media">
                                {% comment %}<ul class="list-unstyled stadistic">
                                    <li class="stadistic__item">
                                    <span class="views-count"><i
                                            class="fa fa-eye"></i> {{ object.impressions.count }}</span>
                                    </li>
                                    <li class="stadistic__item">
                                        {% adlikes object template='partials/likes.html' %}
                                    </li>
                                </ul>{% endcomment %}
                                <a href="{{ object.actionform.submit_url }}?advert={{ object.id }}"
                                   class="action-image">
                                    {% thumbnail object.bannerad.content "740" as im %}
                                        <img src="{{ im.url }}" alt="" class="img-responsive">
                                    {% endthumbnail %}
                                </a>
                            </div>
                            <div class="statistic">
                                {% adlikes object template='partials/likes.html' %}
                                <span class="statistic-item statistic__views-counter"><i class="fa fa-eye"></i>{{ object.impressions.count }}</span>
                                <hr>
                                <h5 class="detail__share-title">Compartir:</h5>
                                <ul class="list-unstyled sharer">
                                    <li class="sharer__item sharer__item--fb">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li class="sharer__item sharer__item--tw">
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li class="sharer__item sharer__item--pin">
                                        <a href=""><i class="fa fa-pinterest"></i></a>
                                    </li>
                                </ul>
                            </div>
                    {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="detail__wrapper">
                            <div class="detail__about">
                                <h1 class="detail__title">{{ object.title }}</h1>
                                <span>Por:</span>
                                <a href="{{ object.advertiser.website }}">
                                    <h2 class="detail__company">{{ object.advertiser }}</h2>
                                </a>
                                <p class="detail__description">
                                    {{ object.description }}
                                </p>
                                <a href="{% url 'content:ad_view' pk=object.id %}">
                                    <span class="detail__site">Ver sitio</span>
                                </a>
                                <div class="detail__actions">
                                    <a href="javascript:;" class="simple-button" data-pk="{{ object.id }}">
                                        <span class="simple-button__label">Llámanos</span>
                                        <span class="simple-button__number">{{ object.advertiser.phone_number }}</span>
                                    </a>
                                    <a href="{{ object.actionform.submit_url }}?advert={{ object.id }}"
                                       class="action-button">{{ object.actionform.name }}</a>
                                </div>

                                <hr>

                                <ul class="list-unstyled tag-list">
                                    {% if object.videoad %}
                                        {% for tag in object.videoad.tags.all %}
                                            <li class="tag-list__item">
                                                <a href="{% url 'content:tagged_ads' path=tag.slug %}">{{ tag.name }}</a>
                                            </li>
                                        {% endfor %}
                                    {% elif object.bannerad %}
                                        {% for tag in object.bannerad.tags.all %}
                                            <li class="tag-list__item">
                                                <a href="{% url 'content:tagged_ads' path=tag.slug %}">{{ tag.name }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}

                                </ul>
                            </div>
                            <div class="detail__form">
                                <a href="#" class="detail__back">
                                    <i class="fa fa-times fa__detail-form-close"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}