{% extends 'layout.html' %}
{% load content_tags %}
{% load mptt_tags %}
{% load thumbnail %}



{% block breadcrumbs %}
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="breadcrumb roof-breadcrumb">
                {% if request.path = '/' %}
                    <i class="fa fa-home"></i><li class="active">Inicio</li>
                {% else %}
                    <li>
                        <i class="fa fa-home"></i><a href="/">Inicio</a>
                    </li>
                {% endif %}
                {% include 'partials/tags_breadcrumbs.html' %}
                {% include 'partials/category_breadcrumbs.html'%}
            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}
    {% if object_list %}
        <ul class="list-unstyled wall">
            <div class="row">
                {# .grid-sizer configura el columnWidth de masonry, en otro caso, se toma el ancho del primer item #}
                <div class="grid-sizer"></div>

                {% for object in object_list %}
                    {% comment %}{% if object.images.all %}
                        <div class="main-list-image">
                            {% for model_image in object.images.all %}
                                {% thumbnail model_image.image "740"  as im %}
                                    {% if model_image.main %}
                                        {% include 'partials/image.html' with im=im object=object %}
                                    {% endif %}
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                        <div class="extra-list-images">
                            {% for model_image in object.images.all %}
                                {% thumbnail model_image.image "740"  as im %}
                                    {% if not model_image.main %}
                                        <div class="extra-image">
                                            {% include 'partials/image.html' with im=im object=object %}
                                        </div>
                                    {% endif %}
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                    {% endif %}{% endcomment %}


                    {% if object.videoad %}
                        {% thumbnail object.videoad.content "740" as im %}
                            {% include 'partials/image.html' with im=im object=object %}
                        {% endthumbnail %}
                    {% elif object.bannerad %}
                        {% thumbnail object.bannerad.content "740"  as im %}
                                {% include 'partials/image.html' with im=im object=object %}
                        {% endthumbnail %}
                    {% endif %}
                {% endfor %}
            </div>
        </ul>
        {% if page_obj.has_next %}
            <a class="the-end next" href="{{ request.path }}" data-npg="{{ page_obj.next_page_number }}" data-clicked="0">Más</a>
        {% else %}
            <span class="the-end" >Fin</span>
        {% endif %}

    {% elif request.path = '/tags/' %}
        {% get_tagcloud as tags %}
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="tagcloud">
                <h2 class="tagcloud__title">Seleccione algún enlace.</h1>
                <ul class="list-unstyled tag-list">
                    {% for tag in tags %}
                        <li class="tag-list__item">
                            <a href="{% url 'content:tagged_ads' path=tag.slug %}">
                                <font size={{ tag.weight|floatformat:0 }}>{{ tag }}</font>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if not request.session.visited %}
    <div class="rm-tour">
        <div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false">
          <div class="owl-carousel">
              <div class="item"><img src="http://placehold.it/350x150" alt=""></div>
              <div class="item"><img src="http://placehold.it/350x150" alt=""></div>
              <div class="item"><img src="http://placehold.it/350x150" alt=""></div>
              <div class="item"><img src="http://placehold.it/350x150" alt=""></div>
              <div class="item"><img src="http://placehold.it/350x150" alt=""></div>
          </div>
          <a href="#" data-remodal-action="cancel" class="rm-tour__skip">Saltar</a>
        </div>
    </div>
    {% endif %}
{% endblock %}




