{% extends 'layout.html' %}
{% load content_tags %}
{% load mptt_tags %}
{% load thumbnail %}


{% block breadcrumbs %}
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="breadcrumb roof-breadcrumb">

                {% if request.path = '/' %}
                    <li class="active">Inicio</li>
                {% else %}
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                {% endif %}
                {% if slugs %}
                    <l1 class="active">
                        Tags
                    </l1>
                {% endif %}
                {% for category in category.get_ancestors %}
                    <li>
                        <a href="/categorias/{{ category.my_get_path }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
                {% if category %}
                    <li class="active">{{ category.name }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <ul class="list-unstyled wall">
        <div class="row">
            {# .grid-sizer configura el columnWidth de masonry, en otro caso, se toma el ancho del primer item #}
            <div class="grid-sizer" style="width: 25%;"></div>
            {% for object in object_list %}
                {% if object.videoad %}
                    {% thumbnail object.videoad.content "740" as im %}
                        {% include 'partials/image.html' with im=im object=object.videoad %}
                    {% endthumbnail %}
                {% elif object.bannerad %}
                    {% thumbnail object.bannerad.content "740" as im %}
                        {% include 'partials/image.html' with im=im object=object.bannerad %}
                    {% endthumbnail %}
                {% endif %}
            {% endfor %}
        </div>
    </ul>
    {% include 'partials/pagination.html' %}
{% endblock %}



