{% extends 'layout.html' %}

{% block breadcrumbs %}
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="breadcrumb roof-breadcrumb">
                <li>
                   <i class="fa fa-home"></i><a href="/">Inicio</a>
                </li>
                <li class="active">Aviso de privacidad</li>

            </ul>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="aviso">
    <p>
        Centro de Diseño y Desarrollo Multimedia S. C., con domicilio en la calle Batallón de
        Matamoros 282, en Morelia, Michoacán, es responsable de recabar sus datos
        personales, del uso que se le dé a los mismos y de su protección. Su información
        personal será utilizada para proveerle de servicios o productos, o bien para
        identificarlo en cualquier tipo de relación contractual con
        nosotros, además para informarle sobre cambios en los mismos y evaluar la calidad
        del servicio que le brindamos. Para las finalidades antes mencionadas, requerimos
        obtener entre otros, los siguientes datos personales: Nombre, Dirección, Teléfono,
        correo electrónico, edad, sexo, lugar y fecha de nacimiento, R.F.C., C.U.R.P., etc. Para
        ejercitar sus derechos de acceder, rectificar y cancelar sus datos personales, así como
        oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin
        nos haya otorgado, lo podrá realizar a través de los procedimientos implementados.
        Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en
        contacto con nuestro personal a través de la cuenta de correo electrónico
        avisoprivacidad@roofmedia.mx.
    </p>

    <p>
        Asímismo, le informamos que sus datos personales pueden ser transferidos y
        tratados, dentro y fuera del país, por personas distintas a esta institución. En ese
        sentido, su información puede ser compartida con personas físicas o morales, con las cuales
        tenemos algún tipo de relación jurídica o comercial a
        efecto de proveerle adecuadamente los servicios y productos que ha solicitado o bien
        para entablar cualquier tipo de relación jurídica o de negocios. Se entenderá que ha
        otorgado su consentimiento si usted no manifiesta su oposición para que sus datos
        personales sean transferidos al presentarle el presente aviso de privacidad.
    </p>
</div>
{% endblock %}