{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load mptt_tags %}
{% load widget_tweaks %}

{% block layout %}
    <div class="wrapper">
        <div class="wrapper__scroller">
            <header class="header">
                <div class="header__search">
                    <form action="{% url 'adzone:search' %}" method="get" style="display: block;">
                        {% render_field search_form.q id="id_tags" class='field' %}
                        <button type="submit" class="field-submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="header__brand">
                    <a href="/" class="logo">Roof Media</a>
                        <a href="#" class="pull-right trigger-nav">
                        <span class="trigger-nav__icon-bar"></span>
                        <span class="trigger-nav__icon-bar"></span>
                        <span class="trigger-nav__icon-bar"></span>
                    </a>
                </div>
            </header>
            <main class="main">
                <div class="container">
                    {% comment %}{% if messages %}
                        <ul class="messages" style="position: absolute;">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}{% endcomment %}
                    {% block breadcrumbs %}{% endblock %}

                    {% block content %}

                    {% endblock %}
                </div>
            </main>
        </div>
        <aside class="wrapper__sidebar">
            <nav class="site-nav">
                <ul class="site-menu">
                    <li class="site-menu__item"><a href="/">Inicio</a></li>
                    {% recursetree nodes %}
                        <li class="site-menu__item">
                            <a href="/categorias/{{ node.my_get_path }}">{{ node.name }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </nav>
        </aside>
    </div>
{% endblock %}