{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}

{% block layout %}
{% block menu %}
<ul>
    <li>
        <a href="/">Inicio</a>
    </li>
    {% recursetree nodes %}
        <li>
            <a href="/categorias/{{ node.my_get_path }}">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endblock %}
<div class="container">
 {% block content %}

{% endblock %}
</div>

{% endblock %}