{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}

{% block layout %}
    <div class="wrapper">
        <div class="wrapper__scroller">
            <header class="header">
                <div class="header__brand">
                    <a href="/" class="logo">Roof Media</a>
                        <a href="#" class="pull-right trigger-nav">
                        <span class="trigger-nav__icon-bar"></span>
                        <span class="trigger-nav__icon-bar"></span>
                        <span class="trigger-nav__icon-bar"></span>
                    </a>
                </div>
            </header>
            <main class="main">
                <div class="container">
                    {% block content %}

                    {% endblock %}
                </div>
            </main>
        </div>
        <aside class="wrapper__sidebar">
            <nav class="site-nav">
                <ul class="site-menu">
                    <li class="site-menu__item"><a href="/">Inicio</a></li>
                    {% recursetree nodes %}
                        <li class="site-menu__item">
                            <a href="/categorias/{{ node.my_get_path }}">{{ node.name }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </nav>
        </aside>
    </div>
{% endblock %}