{% load staticfiles %}
{% load mptt_tags %}

<nav class="site-nav">
    <a href="/"m class="site-nav__logo">
        <img class="center-block" src="{% static 'content/images/roof-logo.svg' %}" alt="" width="100" />
    </a>
    <ul class="site-menu list-unstyled">
        <li class="site-menu__item"><a href="/">Inicio</a></li>
        {% recursetree nodes %}
            <li class="site-menu__item">
                <a href="/categorias/{{ node.my_get_path }}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children list-unstyled">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
    <h3 class="site-nav__title">Acerca de roof</h3>
    <p class="site-nav__text">
        RoofMedia es un medio publicitario digital que trabaja con diferentes
        medios masivos en internet utilizando las mejores practicas de
        cada una de ellas. <span class="leer-mas"><a href="nosotros.html">Leer más <i class="fa fa-share"></i></a></span>
    </p>
    <ul class="list-unstyled site-menu">
        <li><a href="" id="como-funciona">¿Cómo funciona?</a></li>
        <li><a href="">Anúnciate</a></li>
        <li><a href="">Aviso de privacidad</a></li>
        <li><a href="http://www.mucha-web.com" target="_blank">Desarrollado por: Mucha-Web</a></li>
    </ul>
</nav>