{% load content_tags %}
{% load thumbnail %}

{% comment %}<li class="brick {% if im.x < im.y %}col-sm-6 col-md-4{% else %}col-sm-12 col-md-8{% endif %}">{% endcomment %}
<li class="brick col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="{% url 'content:ad_categories' path=object.get_path %}" class="img-link hover">
            <div class="overlay">
                <span class="list-views-counter"><i class="fa fa-eye"></i>{{ object.impressions.count }}</span>
                <span><i class="fa fa-heart"></i>{{ object.vote_total }}</span>
            </div>
            <img class="img-responsive" src="{{ im.url }}" alt="{{ object.title }}">
        </a>
    </div>
</li>