{% if request.path = '/tags/' %}
    <li class="active">Tags:</li>
{% endif %}
{% if tags %}
    <li>
        <a href="/tags/">Tags</a>
    </li>
    <li>
        <ul class="list-unstyled tag-list breadcrumb-tags">
            {% if tags|length = 1 %}
                <li>{{ tags.0.name }}</li>
            {% else %}
                {% for tag in tags %}
                    <li class="tag-list__item">
                        <a href="{% url 'content:tagged_ads' path=tag.slug %}">
                            {{ tag.name }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

    </li>
{% endif %}