{% extends 'base.html' %}


{% block layout %}
    <div class="wrapper">
        <div class="wrapper__scroller">
            {% include 'partials/header.html' %}
            {% include 'partials/mobile.html' %}
            <main class="main">
                <div class="container">
                    {% block breadcrumbs %}{% endblock %}

                    {% include 'partials/messages.html' %}

                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
        <aside class="wrapper__sidebar">
            {% include 'partials/aside.html' %}
        </aside>
    </div>
{% endblock %}