{% load i18n %}
{% load widget_tweaks %}
{% if messages %}
        <ul class="messages" style="position: absolute;">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<div class="form-wrapper">

<h2 class="detail__title">{{ name }}</h2>
<p class="detail__form-header">{{ header|safe }}</p>
<form id="action-call-form" method="post" action="{{ submit_url }}">
    {% csrf_token %}
    {% for field in form %}
        <div class="field-group">
            {% if not field.name == 'agree'   %}
                {% if not field.is_hidden and not field.name == 'captcha' %}
                    <label class="field-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {% endif %}
                {% render_field field class='field'  %}
            {% else %}
                {{ field }}
                <span>
                    He leído y Acepto el tratamiento de mis datos personales conforme a los términos y condiciones del presente
                    <a href="{% url 'content:aviso' %}" target="_blank" class="privacity">aviso de privacidad.</a>
                </span>
            {% endif %}
        </div>
        {% if field.errors %}
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">×</a>
            <strong>{% with field.errors|first as first_error %}{{ first_error }}{% endwith %}</strong>
        </div>
        {% endif %}
    {% endfor %}
    <div class="field-group">
        <button type="submit">{% trans "Enviar" %}</button>
    </div>
</form>
</div>

