{% load i18n %}
{% if messages %}
        <ul class="messages" style="position: absolute;">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<div class="success-wrapper">

<div class="success-message">
    <h2>Información enviada con éxito</h2>
    <p>
    {% if success_message %}
        {{ success_message|safe }}
    {% else %}
        Muchas Gracias!
    {% endif %}
    </p>
</div>

</div>