{% load i18n %}
{% csrf_token %}
<div class="clearfix  feedback-header">
	<a id="feedbackClose" href="#" class="pull-right"><i class="fa fa-times"></i></a>
	<div class="pull-left">
	    {{ text|safe }}Agradecemos tu interés por participar en nuestro proyecto, tus sugerencias son importantes para mejorar nuestro desempeño.
        Si tienes alguna queja hacer click
        <a href="contacto#">AQUÍ</a>
	</div>
</div>
{% for field in form %}
    {{ field.errors }}
    <p>
        {{ field.label_tag }}
        {{ field }}
    </p>
{% endfor %}

<input type="submit" value="{% trans "Enviar Mensaje" %}" />
