#feedbackForm #id_feedback-url, #feedbackForm label {display: none;}
body.nav-active #feedbackSnippet {
  display: none; }
/*#feedbackForm {
    display: none;
    position: fixed;
    z-index: 1299;
    left: 50%;
    top: 50%;
    width: 300px;
    margin-left: -160px;
    margin-top: -150px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 2px solid #f0f7fa;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}*/

#feedbackForm {
  display: none;
  position: fixed;
  width: 300px;
  z-index: 10000;
  padding: 1em;
  bottom: 0;
  right: 0;
  background: #0A0A0A; }
  #feedbackForm input[type="text"],
  #feedbackForm input[type="email"],
  #feedbackForm textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 0;
    font-size: 14px; }
  #feedbackForm p {
    position: relative;
    margin-bottom: 1em; }
  #feedbackForm #feedbackText {
    font-family: "Roboto", serif;
    padding-bottom: 1em; }
  #feedbackForm input[type="submit"] {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border: 2px solid white;
    font-size: 12px;
    color: white;
    background-color: transparent; 
    transition: letter-spacing 0.33s;}
    #feedbackForm input[type="submit"]:hover {
        letter-spacing: 3px;
       }
   #feedbackForm .feedback-header {
     padding: 0 0 1em 0;
     color: white; }
     #feedbackForm .feedback-header a {
       color: white;
       border: 2px solid white;
        width: 24px;
        text-align: center; }
       #feedbackForm .feedback-header a:hover {
         text-decoration: none; }

/*#feedbackForm textarea, #feedbackForm input[type="text"], #feedbackForm input[type="email"] {
    width: 280px;
    padding: 10px;
    margin: 0 0 10px 0;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}*/
#feedbackForm textarea {
    height: 50px;
}
#feedbackForm input[type="text"] {
    margin-bottom: 5px;
}
#feedbackForm input[type="submit"]:active {
    position:relative;
    top:1px;
}

#feedbackForm ul.errorlist {
    margin: 0;
    padding: 0;
}
#feedbackForm ul.errorlist li {
    list-style: none;
    display: block;
    background: #e25555;
    color: #fff;
    text-align: center;
    padding: 4px 5px;
    font-size: 0.9em;
    margin: 0 3px;
    text-shadow:1px 1px 0px #af4c4c;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
#feedbackForm #feedbackText h3 {
    margin: 2px 0 5px;
}
#feedbackForm #feedbackText p {
    margin: 2px 0 10px;
}

#feedbackSnippet {
  background-color: #0A0A0A;
  color: white;
  width: 180px;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  font-family: "Roboto", serif;
  font-size: 12px;
  text-align: center; }
  #feedbackSnippet span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.25em; }
#feedbackSuccess {
    position: fixed;
    display: none;
    margin: -17px 0 0 0;
    z-index: 1300;
    text-shadow:1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    left: 40px;
    top: 50%;
    background: rgb(205,235,142);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkZWI4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNWM5NTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(205,235,142,1) 0%, rgba(165,201,86,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,142,1)), color-stop(100%,rgba(165,201,86,1)));
    background: -webkit-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
    background: -o-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
    background: -ms-linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
    background: linear-gradient(to bottom,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #fff;
    padding: 7px 20px;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    -ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}

/* Styles for the FeedbackCreateView */
#feedbackDisplayWrapper > #feedbackForm {
    display: block;
    position: static;
    left: auto;
    top: auto;
    margin-left: 0;
    margin-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
#feedbackDisplayWrapper > #feedbackForm #feedbackClose {
    display: none;
}

#feedbackDisplayWrapper > #feedbackSnippet {
    display: none;
}

/* Desktops and laptops ----------- */
@media (min-width: 768px) {
    #feedbackForm {
        left: 0;
        right: inherit;
        bottom: inherit;
        top: 50%;
        transform: translateY(-50%);
    }
  #feedbackSnippet {
    left: -70px;
    right: inherit;
    top: 50%;
    bottom: inherit;
    -webkit-transform:  translateY(-50%) rotate(-90deg) ;
            transform:  translateY(-50%) rotate(-90deg) ; } }