{% extends 'layout.html' %}
{% load adzone_tags %}
{% load mptt_tags %}
{% load thumbnail %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="/">Inicio</a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="/categorias/{{ category.my_get_path }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock %}

{% block content %}
    <ul class="list-unstyled wall">
        <div class="row">
            {# .grid-sizer configura el columnWidth de masonry, en otro caso, se toma el ancho del primer item #}
            <div class="grid-sizer" style="width: 25%;"></div>
            {% for object in object_list %}
                {% if object.videoad %}
                    {% thumbnail object.videoad.content "740" as im %}
                        {% include 'partials/image.html' with im=im object=object.videoad %}
                    {% endthumbnail %}
                {% elif object.bannerad %}
                    {% thumbnail object.bannerad.content "740" as im %}
                        {% include 'partials/image.html' with im=im object=object.bannerad %}
                    {% endthumbnail %}
                {% endif %}
            {% endfor %}
        </div>
    </ul>
    {% include 'partials/pagination.html' %}
{% endblock %}



