{% extends 'layout.html' %}


{% load staticfiles %}
{% load thumbnail %}



{% block content %}
<div class="col-lg-6">
<article>
    <a href="{% url 'adzone:ad_view' pk=object.id %}">
    {% thumbnail object.content "300"  as im %}
            <img src="{{ im.url }}">
    {% endthumbnail %}
    </a>
</article>

    <p>Título: {{ object.title }}</p>
    <p>Descripción: {{ object.description }}</p>
    <p>Empresa: {{ object.advertiser }}</p>
    <p>Nombre del anunciante: {{ object.advertiser.user.first_name }} {{ object.advertiser.user.last_name }}</p>
    <p>Sitio de anunciante: {{ object.advertiser.website }}</p>
    <p>Correo de anunciante: {{ object.advertiser.email }}</p>


    <form target="_blank" action="{{ object.actionform.submit_url }}" method="get" >
        <input type="hidden" value="{{ object.id }}" name="advert" />
        <button type="submit">Llamado a la accion </button>

    </form>
</div>

{% endblock %}